* {
  border: 1px solid red;
  font-family: 'Satisfy', cursive;
}

.container {
  background: #C3C3C3;
}

nav {
  background-color: #ABA8B2;
  height: 5em;
  text-align: center;
  position: fixed;
  width: 100%;
}

ul li {
  display: inline;
  margin-right: 6em;
}

ul li:hover {
  cursor: auto;
  border-bottom: 3px solid #4C4B63;
}

#showcase {
  height: 40em;
  width: 90%;
}

#showcase img {
  height: 40em;
  width: 90%;
  float: left;
}

#showcase h2 {
  font-size: 4rem;
  position: absolute;
}
